@media (max-width: 1400px) {
   .aos-item {
      padding: 2% 4%;
      margin: 40px;
      width: 40%;
    }
 }

@media only screen and (max-width: 1200px){
   .hero-title {
      margin-top: 25%;
      width: 50%;
    }
    h2{
      font-size: 26px;
      }
    h1{
      font-size: 50px;
       }
   .myPhoto{
      width: 100%;
   }
   .description{
     padding-left: 3%;
   }
   .aboutSpan{
      font-size: 26px;
   }
   .description p {
      font-size: 19px;
    }
    .tools{
      font-size: 15px;
    }
    .aos-item {
      padding: 2% 3%;
      margin: 30px;
      width: 40%;
    }
}

@media only screen and (max-width: 1024px){
   .hero-title {
      margin-top: 20%;
      }
   h2{
      font-size: 25px;
      }
    h1{
      font-size: 48px;
       }
   .aboutContainer{
         justify-content: center;
           }
   .myPhoto{
      width: 100%;
   }
   .description{
     width: 60%;
     padding-left: 3%;
   }
   h3{
      font-size: 25px;
   }
   .description p {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .toolkit_item{
      font-size: 32px;
      margin-right: 40px;
      margin-top: 10px;
    }
    .aos-item {
      padding: 2% 3%;
      margin: 20px;
      width: 42%;
    }
    h4{
      font-size: 21px;
    }
    .projectDescr{
      font-size: 16px;
    }
    .tools{
      font-size: 14px;
      padding: 5px;
    }
}

@media only screen and (max-width: 860px){
   .imageBG {
      top: 40%;
      left: 75%;
      max-width: 600px;
    }
   .hero-title {
      margin-top: 25%;
      }
   h2{
      font-size: 24px;
      }
    h1{
      font-size: 46px;
       }
   .aboutContainer{
      flex-direction: column;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
   }
   .myPhoto{
      width: 65%;
      margin-bottom: 30px;
   }
   .description{
      width: 80%;
      padding-left: 3%;
      text-align: center;
    }
    .toolkit{
      justify-content: center;
      }
      .toolkit_item{
         font-size: 32px;
         margin-right: 25px;
         margin-left: 25px;
       }
   .projectsContainer, .contactContainer {
      text-align: center;
   }
   .contactContainer{
      padding-top: 8%;
      margin-bottom: 0;
      padding-bottom: 0;
   }
 }

@media only screen and (max-width: 768px) {
    .nav-menu {
         position: fixed;
         left: -107%;
         top: -15px;
         flex-direction: column;
         background-color: rgb(4, 1, 12);
         width: 100%;
         text-align: center;
         transition: 0.3s;
      }
     .nav-menu.active {
         left: 0;
     }
     .nav-item {
         margin: 20px 0px;
     }
     .hamburger {
       display: block;
       margin-right: 50px;
       cursor: pointer;
     }
     .active .bar:nth-child(2) {
       opacity: 0;
   }
    .active .bar:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
   }
    .active .bar:nth-child(3) {
       transform: translateY(-8px) rotate(-45deg);
   }
   .contain {
      padding: 7% 8%;
      padding-left: 11%;
    }
    .nav-logo {
      font-size: 40px;
      margin-left: 25px;
    }
    .hero-title {
      margin-top: 32%;
      }
      .aos-item {
         padding: 2% 3%;
         margin: 20px;
         width: 100%;
       }
}

@media only screen and (max-width: 650px) {
   .imageBG {
      top: 40%;
      left: 75%;
      max-width: 500px;
    }
    .hero-title {
      margin-top: 35%;
   }
   .inputSection{
     width: 400px;
   }
}
@media only screen and (max-width: 550px) {
   .imageBG {
      top: 60%;
      left: 50%;
      max-width: 400px;
    }
    .navbar{
       height: 80px;
    }
    .contain{
      padding-top: 15%;
    }
    .hero-title {
       width: 100%;
       margin-left: 3%;
      margin-top: 40%;
      text-align: center;
   }
   h2{
      font-size: 22px;
      }
    h1{
      font-size: 44px;
       }
   h3{
      font-size: 22px; 
   }
   .aboutSpan{
      font-size: 22px;
   }
   .description p {
      font-size: 16px;
    }
    .toolkit_item{
      font-size: 28px;
      margin-right: 20px;
      margin-left: 20px;
    }
    .aos-item {
      padding: 3% 5%;
    }
    h4{
      font-size: 18px;
    }
    .projectDescr{
      font-size: 14px;
    }
    .inputSection{
      width: 350px;
    }
    .sendButton{
      font-size: 22px;
      padding: 8px;
    }
}
@media only screen and (max-width: 470px) {
   .imageBG {
      top: 60%;
      left: 47%;
      max-width: 350px;
    }
    .spanBrand{
      font-size: 7px;
      margin-left: 0px;
    }
    .aboutSpan:after {
       display: none;
    }
    .toolkit_item{
      font-size: 24px;
      margin-right: 16px;
      margin-left: 16px;
    }
    .inputSection{
      width: 300px;
    }
    .button{
      font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
   .hamburger{
      margin-right: 30px;
   }
   .navbar{
      height: 70px;
   }
   .nav-menu {
      text-align: left;
   }
   .nav-item {
      margin: 15px 0px;
  }
   .imageBG {
      top: 60%;
      left: 50%;
      max-width: 290px;
    }
    h2{
      font-size: 20px;
      }
    h1{
      font-size: 40px;
       }
   h3{
      font-size: 20px; 
   }
   .aboutSpan{
      font-size: 20px;
   }
   .description p {
      font-size: 15px;
    }
    .toolkit_item{
      font-size: 24px;
      margin-right: 12px;
      margin-left: 12px;
    }
    h4{
      font-size: 17px;
    }
    .projectDescr{
      font-size: 13px;
    }
    .tools{
      font-size: 11px;
      padding: 4px;
    }
    .button{
      font-size: 14px;
    }
    .inputSection{
      width: 250px;
    }
    .sendButton{
      font-size: 20px;
      padding: 7px;
    }
   }

@media only screen and (max-width: 320px) {
   .imageBG {
      top: 60%;
      left: 50%;
      max-width: 260px;
    }
    h2{
      font-size: 19px;
      }
    h1{
      font-size: 36px;
       }
   h3{
      font-size: 19px; 
   }
   .aboutSpan{
      font-size: 19px;
   }
   .description p {
      font-size: 14px;
    }
    .toolkit_item{
      font-size: 22px;
      margin-right: 10px;
      margin-left: 10px;
    }
    h4{
      font-size: 16px;
    }
    .projectDescr{
      font-size: 12px;
    }
    .inputSection{
      width: 200px;
    }
    .sendButton{
      font-size: 18px;
      padding: 7px;
    }
}

