*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: rgb(4, 1, 12); /*#dbad84;*/
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
  min-height: 100%;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
.container-header{
  display: none;
}
.loader{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(4, 1, 12);
  position: absolute;
}
.loader>div{
  height: 100px;
  width: 100px;
  border: 15px solid #45474b;
  border-top-color: #3C8DAD;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}
.header{
  margin: 0;
  max-width: 100%;
  }

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgb(4, 1, 12);
 /* background-color: rgb(106, 189, 52);*/
  padding: 0px;
  margin-left: 0;
  margin-bottom: 2%;
  font-family: "Abril Fatface", sans-serif;
  position: fixed;
  z-index: +10;
  top: 0;
  width: 100%;
  height: 85px;
}

.nav-logo {
  font-family: "Abril Fatface", sans-serif;
  font-size: 42px;
  font-weight: 500;
  margin-left: 20px;
}

.spanBrand{
  font-size: 10px;
  font-family: "Lato", sans-serif;
  margin-left: 3px;
}

.nav-menu {
  display: flex;
  margin-right: 5%;
}

.nav-link{
  font-size: 18px;
  font-weight: 500;
  margin-left: 55px;
  margin-right: 15px;
}

.nav-link:hover, .nav-logo:hover{
  color: #3C8DAD;
}

li{
list-style: none;
text-shadow: black 0.1em 0.1em 0.2em;
}

a {
  text-decoration: none;
  color: #fff;
}

.hamburger{
  display: none;
  margin-right: 25px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFF;
}

.section{
 min-height: 100vh;
 max-width:100%;
 margin: 0;
 padding: 0px;
}

#contact{
  min-height: 85vh;
  max-height: 85vh;
}

.contain {
 padding: 7% 5%;
 padding-left: 10%;
}

#bg{
  z-index: -1;
  position: fixed;
  top: 2%;
  left: 10%;
  width: 85%;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.imageBG {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -40%);
  max-width: 700px;
}

.hero-title {
  font-family: "Abril Fatface", sans-serif;
  padding: 2%;
  margin-top: 12%;
}
h2{
  font-size: 28px;
  letter-spacing: 8px;
  margin-bottom: 20px;
}
h1{
  font-size: 52px;
  letter-spacing: 4px;
  font-weight: 700;
}
h3{
  font-family: "Abril Fatface", sans-serif;font-family: "Lato", sans-serif;
  font-size: 28px;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding-top: 10px;
  }

.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
 }

.photoContainer{
  flex: 1;
  align-self:stretch;
  text-align: center;
}
.myPhoto{
  margin-top: 30px;
  width: 70%;
  border-radius: 10px;
}

.description {
  flex: 1;
  justify-self: center;
  align-self: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.aboutSpan{
  font-family: "Abril Fatface", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 100px;
}

.aboutSpan:after {
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin-left: 5px;
}

.description p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.school{
  font-weight: 700;
  text-shadow: 2px 0 #da8c9a, 0 -2px #da8c9a;
  cursor: pointer;
}
/*
.toolkit{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 10px;
  }*/
.container{
  padding: 0;
}
.row{
  padding-top: 10px;
}
.col{
   box-shadow: rgba(60, 141, 173, 0.15) 0px 8px 15px;
   width: 100px;
}
.toolkit_item{
  font-size: 38px;
  margin-top: 20px;
}

.hoverSpan{
  display: block;
  font-family: "Lato", sans-serif;
  padding: 5px;
  padding-left: 0;
}
.toolkit_item:hover{
  color: #3C8DAD;
}
.toolkit_item:hover+.hoverSpan{
  color: #3C8DAD;
  display: block;
}



.projectsSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

 h5{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-top: 10px;
  }

  .aos-item {
    padding: 3% 5%;
    background-color: rgb(4, 1, 12);
    margin: 60px;
    text-align: center;
    width: 40%;
    box-shadow: rgba(60, 141, 173, 0.15) 0px 8px 24px;
  }

  h4{
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    font-family: "Lato", sans-serif;
    text-shadow:  #a77547 0.1em 0.1em 0.2em;
  }

  .projectDescr{
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-shadow: #3C8DAD 0.1em 0.1em 0.2em;
  padding-left: 15px;
  padding-right: 15px;
  }

  .toolsUsed{
    display: flex;
    justify-content: space-around;
    }
  .tools{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-shadow:  #a77547 0.1em 0.1em 0.2em;
  }
  
  .videoSection{
    margin-top: 10px;
    width: 100%;
  }
  .videoOne, .videoTwo, .videoThree, .videoFour, .videoFive, .videoSix, .videoSeven, .videoEight{
    width: 100%;
    margin: 0;
    padding: 5px;
    border: 0.05px solid #dbad84;
    box-shadow: rgba(236, 182, 81, 0.3) 0px 4px 16px, rgba(228, 183, 100, 0.3) 0px 8px 24px, rgba(233, 194, 121, 0.3) 0px 16px 56px;
  }
 
  .button{
    color: #3C8DAD;
    font-size: 18px;
    font-weight: 900;
    }
  .button:hover{
    color:#fff;
    }


  .contactSection{
    padding-left:0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contactContainer h5{
    margin-top: 10px
  }
  
.inputSection{
  border: none;
  margin-top: 30px;
  padding: 10px 50px 10px 5px;
  font-family: "Lato", sans-serif;
  width: 500px;
  }
.inputSection:focus{
  outline: none;
}
.sendButton{
  text-align: center;
  border: 1px solid #dbad84;
  background-color: #fff;
  color: #dbad84;
  font-family: "Abril Fatface", sans-serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 4px;
  padding: 10px;
  width: 200px;
  margin-top: 20px;
  transition: background 2s, color 2s, width 2s;
  
}
.sendButton:hover{
  background-color: #dbad84;
  color:#3c8dad;
  width: 200px;
  }
  .address{
    font-family: "Lato", sans-serif;
  }
  .contactLinks{
    display: flex;
    margin-top: 10px;
  }
.socialLinks{
  color: #fff;
  font-size: 30px;
  margin: 10px 20px;
  margin-left: 0;
}
.socialLinks:hover{
  color: rgb(60, 141, 173);
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-top: 15px;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.ml12 .letter{
  display: inline-block;
  line-height: 1em;
}