body {
  background-color: rgb(4, 1, 12); /*#dbad84;*/
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
#fullpage{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Abril Fatface", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  float: right;
  
}

.nav-link{
  font-size: 18px;
  font-weight: 500;
  margin-right: 68px;
}
.nav-link:hover{
  color: #3C8DAD;
}
.nav-logo {
  font-size: 42px;
  font-weight: 500;
  margin-left: 20px;
}
.spanBrand{
  font-size: 12px;
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}
li{
  list-style: none;
  text-shadow: black 0.1em 0.1em 0.2em;

}
a {
  text-decoration: none;
  color: #fff;
}
.hamburger{
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFF;
}

.section{
  min-height: 100vh;
  width: auto;
}

.contain {
  margin: 5%;
  margin-top: 8%;
}

.hero-text {
  font-family: "Abril Fatface", sans-serif;
  padding-top: 12%;
}
h2{
  font-size: 28px;
  letter-spacing: 8px;
}
h1{
  font-size: 52px;
  letter-spacing: 4px;
}
h3{
  font-family: "Abril Fatface", sans-serif;font-family: "Lato", sans-serif;
  font-size: 28px;
  text-shadow: black 0.1em 0.1em 0.2em;

  }
  h5{
    font-family: "Lato", sans-serif;
  font-size: 18px;
  }
.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  
 }

.photoContainer{
  width: 40%;
  justify-self: center;
  align-self: center;
}
.description {
  width: 60%;
  justify-self: center;
  align-self: center;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 1rem;
}
.myPhoto{
  width: 80%;
  border-radius: 10px;
  padding: 50px ;
  }

.aboutSpan{
  font-family: "Abril Fatface", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 100px;
}

.aboutSpan:after {
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin-left: 5px;
}

.aboutSpan.margin-bottom{
  margin-bottom: 1rem;
}

.description p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-bottom: 15px;
}
.school{
  font-weight: 700;
  text-shadow: 2px 0 #da8c9a, 0 -2px #da8c9a;
}

.toolkit{
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  }
.toolkit_item{
  font-size: 38px;
  margin-right: 50px;
}
.hoverSpan{
  display: none;
}
.toolkit_item:hover{
  color: #3C8DAD;
}
.toolkit_item:hover+.hoverSpan{
  color: #3C8DAD;
  display: block;
  font-family: "Lato", sans-serif;
  text-align: left;
}
#bg{
  z-index: -1;
  position: fixed;
  top: 2%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#bg img {
  position: absolute;
  top: 38%;
  left: 75%;
  transform: translate(-50%, -40%);
  max-width: 700px;
}

#projects{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.containProjects{
  margin-left: 5%;
  padding: 0;
}

.aos-item {
  display: inline-block;
  width: 600px;
  height: auto;
  padding: 0;
  padding-right: 10px;
  margin: 20px;
  text-align: center;
}

.aos-item::before {
  content: attr(data-id);
  position: relative;
  text-align: center;
  width: 500px;
  height: 500px;
}

.videoSection{
  padding: 20px 35px 20px 25px;
  margin-top: 10px;
  width: 540px;
  height: 275px;

  }

  h4{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
  }
  .projectDescr{
    font-size: 18px;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding-left: 15px;
  padding-right: 15px;

  }

.overlayOne,
.overlayTwo,
.overlayThree,
.overlayFour, .overlayFive, .overlaySix {
  margin: 0 auto;
  position: absolute;
  top: 90px;
  left: 15px;
  width: 560px;
  height: 280px;
  background-color: #dbad84;
  opacity: 0;
  display: none;
}

.overlayOne.active,
.overlayTwo.active,
.overlayThree.active,
.overlayFour.active, .overlayFive.active, .overlaySix.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3C8DAD;
  background-color: #e9aa72;
  border: 5px solid #3c8dad;
  opacity: 0.93;
  display: block;
}
.videoOne, .videoTwo, .videoThree, .videoFour, .videoFive, .videoSix{
  width: 100%;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 5px;
  border: 0.05px solid #dbad84;
  
  box-shadow: rgba(236, 182, 81, 0.3) 0px 4px 16px, rgba(228, 183, 100, 0.3) 0px 8px 24px, rgba(233, 194, 121, 0.3) 0px 16px 56px;
  margin: 0;
}
.imageOne{
  width: 100%;
}

.overlay{
text-align: center;
font-family: "Lato", sans-serif;
color: #fff;
/*text-shadow: black 5px 5px 10px;*/
}
.closeOverlayOne, .closeOverlayTwo, .closeOverlayThree, .closeOverlayFour, .closeOverlayFive, .closeOverlaySix{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 16px;
}
.toolsUsed{
  display: flex;
  justify-content: space-around;
}
.button{
  color: #3C8DAD;
  font-size: 18px;
  font-weight: 900;
  padding-left: 5px;
  padding-right: 5px;
  }
.button:hover{
  color:#fff;
  }
.address{
  font-family: "Lato", sans-serif;
}

.contactSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.sendSection{
  margin-left: 0;
  justify-self: flex-start;
}
.sendContainer{
  margin-left: 5%;
  margin-top: 10%;
}
.inputSection{
  border: none;
  margin-top: 30px;
  padding: 10px 50px 10px 5px;
  font-family: "Lato", sans-serif;
  width: 400px;
  }
.inputSection:focus{
  outline: none;
}
.sendButton{
  text-align: center;
  border: 1px solid #dbad84;
  background-color: #fff;
  color: #dbad84;
  font-family: "Abril Fatface", sans-serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 4px;
  padding: 10px;
  width: 200px;
  margin-top: 20px;
  transition: background 2s, color 2s, width 2s;
  
}
.sendButton:hover{
  background-color: #dbad84;
  color:#3c8dad;
  width: 200px;
  }

.addressSection{
  padding: 20px;
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  /*background-color: #dbad84;*/
  color: #fff;
  /*border: 1px solid #fff;*/
  margin-left: 0;
}




@media (min-width: 600px) {
  .hero-text {
    width: 50%;
  }
  .image-one {
     width: 100%;
     padding-bottom: 20px;
  }
  .projectDescr{
    font-size: 17px;
   margin-top: 20px;
 }
}
