body {
  background-color: rgb(4, 1, 12); /*#dbad84;*/
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Abril Fatface", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  float: right;
  
}

.nav-link{
  font-size: 18px;
  font-weight: 500;
  margin-right: 68px;
}
.nav-link:hover{
  color: #3C8DAD;
}
.nav-logo {
  font-size: 42px;
  font-weight: 500;
  margin-left: 20px;
}
.spanBrand{
  font-size: 12px;
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.hamburger{
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFF;
}

.section{
  min-height: 100vh;
}

.contain {
  margin: 5%;
  margin-top: 8%;
}

.hero-text {
  font-family: "Abril Fatface", sans-serif;
  padding-top: 12%;
}
h2{
  font-size: 28px;
  letter-spacing: 8px;
}
h1{
  font-size: 52px;
  letter-spacing: 4px;
}
h3{
  font-family: "Abril Fatface", sans-serif;font-family: "Lato", sans-serif;
  font-size: 28px;
  }
  h5{
    font-family: "Lato", sans-serif;
  font-size: 20px;
  }

.aboutSpan{
  font-family: "Abril Fatface", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 100px;
}

.aboutSpan:after {
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin-left: 5px;
}

.aboutSpan.margin-bottom{
  margin-bottom: 1rem;
}

.description {
  letter-spacing: 1px;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}

.description p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.toolkit{
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  }
.toolkit_item{
  font-size: 38px;
  margin-right: 50px;
}
.hoverSpan{
  display: none;
}
.toolkit_item:hover{
  color: #3C8DAD;
}
.toolkit_item:hover+.hoverSpan{
  color: #3C8DAD;
  display: block;
  font-family: "Lato", sans-serif;
  text-align: left;
}
#bg{
  z-index: -1;
  position: fixed;
  top: 2%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#bg img {
  position: absolute;
  top: 38%;
  left: 75%;
  transform: translate(-50%, -40%);
  max-width: 700px;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.videoSection{
  
  padding: 20px 35px 20px 25px;
  /*background-color: #3C8DAD;*/
  margin-top: 10px;
  width: 450px;
  
  }
  h4{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
  }

.overlayOne,
.overlayTwo,
.overlayThree,
.overlayFour {
  margin: 0 auto;
  position: absolute;
  top: 90px;
  left: 0px;
  width: 510px;
  height: 270px;
  background-color: #dbad84;
  opacity: 0;
  display: none;
}

.overlayOne.active,
.overlayTwo.active,
.overlayThree.active,
.overlayFour.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3C8DAD;
  background-color: #dbad84;
  border: 5px solid #3c8dad;
  opacity: 0.93;
  display: block;
}
.videoOne{
  width: 100%;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 5px;
  border: 0.05px solid #dbad84;
  
  box-shadow: rgba(236, 182, 81, 0.3) 0px 4px 16px, rgba(228, 183, 100, 0.3) 0px 8px 24px, rgba(233, 194, 121, 0.3) 0px 16px 56px;
  margin: 0;
}
.imageOne{
  width: 100%;
}
.aos-item {
  display: inline-block;
  width: 560px;
  height: auto;
  
  padding: 0px;
  margin: 0px;
}

.aos-item::before {
  content: attr(data-id);
  position: relative;
  width: 500px;
  height: 500px;
}
.overlay{
text-align: center;
font-family: "Lato", sans-serif;
color: #fff;
}
.closeOverlayOne{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 16px;
}
.toolsUsed{
  display: flex;
  justify-content: space-around;
}
.button{
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}
.button:hover{
  color:#3C8DAD;
  
}


.contactSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.sendSection{
  margin-left: 0;
  justify-self: flex-start;
}

.inputSection{
  border: none;
  margin-top: 30px;
  padding: 10px 50px 10px 5px;
  font-family: "Lato", sans-serif;
  width: 400px;
  
}
.inputSection:focus{
  outline: none;
}
.sendButton{
  text-align: center;
  border: 1px solid #fff;
  background-color: #dbad84;
  color: #fff;
  font-family: "Abril Fatface", sans-serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 4px;
  padding: 10px;
  width: 200px;
  margin-top: 20px;
  transition: background 2s, color 2s, width 2s;
  
}
.sendButton:hover{
  background-color: #fff;
  color:#3c8dad;
  width: 200px;
  }

.addressSection{
  padding: 20px;
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  /*background-color: #dbad84;*/
  color: #fff;
  /*border: 1px solid #fff;*/
  margin-left: 0;
}


@media (min-width: 1280px) {
  .description {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .hero-text {
    width: 50%;
  }
  .image-one {
     width: 100%;
     padding-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 45px;
      flex-direction: column;
      background-color: #dbad84;
      width: 100%;
      text-align: center;
      transition: 0.3s;
     /* box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);*/
  }
  
 .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 40px 0px;
  }

  .hamburger {
      display: block;
      margin-right: 20px;
      cursor: pointer;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}